<launch>
    <arg name="use_gui" value="false"/>
    
    <!-- Open a world in Gazebo-->
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch"/> -->

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg use_gui)"/>
    </include>

    <param name="robot_description" command="xacro '$(find description)/urdf/cybersumo.urdf.xacro'"/>

    <!-- Spawn bot in Gazebo -->
    <node name="spawn_cybersumo" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description
              -urdf -model cybersumo"/>

    <!-- Setup TF Tree -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>